<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @big_site_site.user_id %>
</p>

<p>
  <b>Content manager:</b>
  <%= @big_site_site.content_manager_id %>
</p>

<p>
  <b>Name:</b>
  <%= @big_site_site.name %>
</p>

<p>
  <b>Sub domain:</b>
  <%= @big_site_site.sub_domain %>
</p>

<p>
  <b>Domain:</b>
  <%= @big_site_site.domain %>
</p>

<p>
  <b>Deleted:</b>
  <%= @big_site_site.deleted %>
</p>


<%= link_to 'Edit', edit_big_site_site_path(@big_site_site) %> |
<%= link_to 'Back', big_site_sites_path %>
